/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
/* Primary Colors */
/* Light Theme */
/* Dark Theme */
/* Base Styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: auto;
}

@media only screen and (max-width: 1200px) {
  .container {
    padding: 2em 4em;
  }
}

/* Header */
header {
  padding-top: 5em;
  padding-bottom: 8em;
  background-color: #f5f7ff;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4em;
}

header .toggle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .toggle-container .toggle-text {
  margin-right: 0.5em;
  color: #63687e;
  font-weight: 700;
}

header .toggle-container .toggle-switch {
  width: 40px;
  height: 18px;
  border-radius: 1em;
  background-color: #aeb3cb;
  padding: 4px;
  cursor: pointer;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

header .toggle-container .toggle-switch .toggle-circle {
  background-color: white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  -webkit-transform-origin: 20% center;
          transform-origin: 20% center;
}

header .toggle-container .toggle-switch.active {
  background: -webkit-gradient(linear, left top, right top, from(#378fe6), to(#3eda82)) !important;
  background: linear-gradient(to right, #378fe6, #3eda82) !important;
}

header .toggle-container .toggle-switch.active .toggle-circle {
  -webkit-transform: translateX(22px);
          transform: translateX(22px);
}

.card-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 23% 23% 23% 23%;
      grid-template-columns: 23% 23% 23% 23%;
  grid-gap: 2.6%;
}

.rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
}

.rate.asc {
  color: #1db489;
}

.rate.desc {
  color: #dc414c;
}

.rate img {
  margin-right: 0.5em;
}

.card {
  border-radius: 0.3em;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  background-color: #f0f2fa;
}

.card:hover {
  background-color: #e1e4f0;
}

/* [SECTION] Daily */
#daily {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#daily .card-container {
  -ms-grid-columns: 23% 23% 23% 23%;
      grid-template-columns: 23% 23% 23% 23%;
  grid-gap: 2.6%;
}

#daily .card {
  padding: 2em 3em;
  border-top-width: 5px;
  border-top-style: solid;
  text-align: center;
  position: relative;
  cursor: pointer;
}

#daily .card::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  left: 0;
  border-radius: 0.3em 0.3em 0 0;
}

#daily .card.facebook::before {
  background: #198ff5;
}

#daily .card.twitter::before {
  background: #1ca0f2;
}

#daily .card.instagram::before {
  background: -webkit-gradient(linear, left top, right top, from(#fdc468), to(#df4996));
  background: linear-gradient(to right, #fdc468, #df4996);
}

#daily .card.youtube::before {
  background: #c4032a;
}

#daily .card .card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2em;
}

#daily .card .card-header .social-icon {
  margin-right: 1em;
}

#daily .card .card-header .username {
  color: #63687e;
}

#daily .card .card-body {
  margin-bottom: 2em;
}

#daily .card .card-body .num {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 0.2em;
}

#daily .card .card-body .descriptor {
  color: #63687e;
  font-size: 13px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#overview {
  margin-top: -3em;
  margin-bottom: 6em;
}

#overview .card-container {
  -ms-grid-columns: 23% 23% 23% 23%;
      grid-template-columns: 23% 23% 23% 23%;
  grid-gap: 2.6%;
}

#overview .overview-title {
  margin-bottom: 1em;
  font-size: 1.6rem;
  color: #63687e;
}

#overview .num {
  font-weight: 700;
  font-size: 2rem;
}

#overview .card-container {
  margin-bottom: 2em;
}

#overview .card {
  padding: 1em 1.6em;
}

#overview .card .top,
#overview .card .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#overview .card .top {
  margin-bottom: 3em;
}

#overview .card .top strong {
  color: #63687e;
}

/* Footer */
footer {
  text-align: center;
  font-size: 1.1rem;
  padding: 2em 0;
}

footer a {
  color: #1ca0f2;
}

/* Dark Mode */
body.dark {
  background-color: #1e202a;
}

body.dark header {
  background-color: #1f212e;
  color: white;
}

body.dark .card {
  background-color: #252a41 !important;
}

body.dark .card:hover {
  background-color: #333a55 !important;
}

body.dark .overview-title {
  color: white !important;
}

body.dark .num {
  color: white !important;
}

body.dark footer {
  color: white !important;
}

body.dark footer a {
  color: #8b97c6 !important;
}

/* Responsive */
@media screen and (max-width: 950px) {
  #daily .card-container {
    -ms-grid-columns: 47% 47%;
        grid-template-columns: 47% 47%;
    grid-gap: 6%;
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
  }
  #overview .card-container {
    -ms-grid-columns: 47% 47%;
        grid-template-columns: 47% 47%;
    grid-gap: 6%;
  }
}

@media screen and (max-width: 600px) {
  header {
    border-radius: 0 0 3em 3em;
    padding-bottom: 6em;
  }
  header .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header-text {
    padding-bottom: 2em;
    margin-bottom: 2em;
    border-bottom: 1px solid #63687e;
  }
  .header-title {
    font-size: 2rem;
    margin-bottom: 0.4em;
  }
  .header-followers {
    font-weight: 700;
    color: #63687e;
  }
  .toggle-container {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #daily .card-container {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    grid-gap: 2em;
    margin: auto;
  }
  #overview {
    margin-top: -6em;
    margin-bottom: 0;
  }
  #overview .card-container {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    grid-gap: 2em;
  }
  footer {
    font-size: 0.9rem;
  }
}
/*# sourceMappingURL=main.css.map */